<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <app-summary></app-summary>
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-8">
    <app-areachart></app-areachart>
    <app-barchart></app-barchart>
    <app-timeline></app-timeline>
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-4">
    <app-notify></app-notify>
    <app-donut></app-donut>
    <app-chat></app-chat>
  </div>
  <!-- /.col-lg-4 -->
</div>
<!-- /.row -->
